<h1 *ngIf="!showSearchResultHeader" class="product-title">iPhone</h1>
<h1 *ngIf="showSearchResultHeader" class="product-title">{{searchKeyWord}}</h1>

<p *ngIf="!showSearchResultHeader" class="breadcrumb">Home / Products / Smart Phones / <strong>iPhone</strong></p>
<p *ngIf="showSearchResultHeader" class="breadcrumb">Home / Products / <strong>{{searchKeyWord}}</strong></p>
<div class="products">
    <app-filter [selectedPage]="selectedPage" [searchKeyWord]="searchKeyWord" [getAllProducts]="getAllProducts">
    </app-filter>

    <section class="products-and-pagination">
        <div *ngIf="searchKeyWord" class="total-found-products">
            <small>{{total}} Products Found</small>
            <small><strong>Sort By: </strong>Popularity</small>
        </div>
        <div class="products-cards-wrapper">
            <app-product-card *ngFor="let product of products ;" [product]="product"></app-product-card>
        </div>
        <app-pagination *ngIf="showPagination"  [getAllProducts]="getAllProducts"
            [paginationPages]="paginationPages">
        </app-pagination>
    </section>
</div>