<h1 class="product-title">iPhone</h1>
<p class="breadcrumb">Home / Products / Smart Phones / <strong>iPhone</strong></p>
<div class="products">
    <section class="filter">
        <h4>Products</h4>
        <div class="categories">
            <div class="checkbox">
                <input value="" type="checkbox" />
                <label> Smartphones (9) </label>
            </div>
        </div>
    </section>
    <section class="products-cards-wrapper">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </section>
</div>