<div class="product-card">
    <div class="cover">
        <small>
            - 12.96%
        </small>
    </div>
    <div class="product-details">
        <h3 class="product-title">iPhone 9</h3>
        <p class="product-description">An Apple mobile which is nothing like apple.</p>
        <span class="priceing">
            <small class="price-before-discount"><strong>549</strong> &nbsp;USD</small>
            <small><strong>477.85</strong> &nbsp;USD</small>
        </span>
        <span class="info">
            <small>Brand:<strong>Apple</strong></small>
            <small>Category:<strong>Smartphones</strong></small>
            <small>In stock:<strong>94</strong></small>
        </span>
        <span class="rating">
            <span class="star">
                <span></span>
            </span>
            <strong class="rate-out-of-five">4.69</strong>
            <small class="reviews-number">(11)</small>
        </span>
        <button class="add-to-cart">ADD TO CART</button>
    </div>
</div>