<div class="product-card">
    <div class="cover" [ngStyle]="{'background-image':'url(' + product.thumbnail + ')'}">
        <small>
            - {{product.discountPercentage}}%
        </small>
    </div>
    <div class="product-details">
        <h3 class="product-title">{{product.title}}</h3>
        <p class="product-description">{{product.description.slice(0,60)}}</p>
        <span class="priceing">
            <small class="price-before-discount"><strong>{{product.price}}</strong> &nbsp;USD</small>
            <small><strong>{{priceAfterDiscount}}</strong> &nbsp;USD</small>
        </span>
        <span class="info">
            <small>Brand:<strong>{{product.brand}}</strong></small>
            <small>Category:<strong>{{product.category}}</strong></small>
            <small>In stock:<strong>{{product.stock}}</strong></small>
        </span>
        <span class="rating">
            <span class="star">
                <span [ngStyle]="{width:starWidth+'px'}"></span>
            </span>
            <strong class="rate-out-of-five">{{product.rating}}</strong>
            <small class="reviews-number">({{reviewsNumber}})</small>
        </span>
        <button (click)="addToCart()" class="add-to-cart">ADD TO CART</button>
    </div>
</div>