form.search {
    display: flex;
    align-items: center;

    input {
        height: 32px;
        width: 284px;
        margin: auto;
        font-size: 14px;
        line-height: 17px;
        color: #999999;
        outline: none;
        background: #FFFFFF;
        opacity: 0.5;
        border: 0.5px solid #424242;
        border-left: none;
        border-radius: 0 8px 8px 0;
        padding: 0;
    }

    button {
        border: 0.5px solid #424242;
        border-right: none;
        border-radius: 8px 0 0 8px;
        width: 36px;
        padding: 0;
        height: 32px;
        background: #FFFFFF;
        opacity: .5;
        img{
            margin-top: 4px;
        }
    }
}